extends layout

block content
  div.signin
    div.center
        h3 SIGN IN
        if hasErrors
          each mess in messages
            span.err= mess
        form(action="/account/signin" method="POST")
            div.field
                div.label(for="username") username
                input(type="username" name="username" placeholder='username')
            div.field
                div.label(for="password") Password
                input(type="password" name="password" placeholder='Password')
            button.btn(type='submit') Sign In
            p Don't Have An Account? &nbsp
              a(href='/account/signup') Register an account